<div class="container">
    <h1>Welcome to Blogga</h1>
    <p>connecting to the universe!</p>
    <%= link_to "About Me", about_path, class: "btn btn-secondary" %>
    <%= link_to "Blogs", posts_path, class: "btn btn-primary" %>
</div>
